/*Bakgrunnur*/
.background{
    background: linear-gradient(black,#331a00,orange)
}
/*Mynda staðsetning*/
.myndmid{
    margin-left: 10%;
    margin-right: 10%;
}
/*links*/
.tac{
    text-align: center;
}

/*font*/
.fontb{
    font-family: 'Bigshot One', cursive;
    color:#E6E6E6;
}
.fontc{
    font-family: 'Comfortaa', cursive;
    color:#a36c13;
}
.fontr{
    font-family: 'Ranga', cursive;
}





/* VSH-SJP.css*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.h1{
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	background-color:orange;/* Breytt yfir í appelsínugult*/
}
.rammi {
	margin-left:250px;
	margin-right:250px;
}
