.html {
	
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
.h1{
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	background-color: green;
}
.rammi {
	margin-left: 250px;
	margin-right: 250px;
	background-color: white;
}
}
.body{
	background-color: #737373;
}

.inngangur {
	display: inline-block;
	width: 60%;
	font-size: 18px;
}
.innihald {
	border: solid 1px black;
	width: 30%;
	float: right;
	background-color:#f2f2f2;
	margin-right: 30px;
	font-size: 18px;
}
.um {
	display: inline-block;
	width: 60%;
	font-size: 18px;
	font-family: Arial, Helvatica, Sans-serif;
}
.mynd {
	display: inline-block;
	float: right;
	margin-top:-10px;
	margin-right:120px;
	font-family: Arial, Helvatica, Sans-serif;
}
.sagan {
	font-size: 18px;
	font-family: Arial, Helvatica, Sans-serif;
}
.sagan_2 {
	width:50%;
}
